<div class="chart" id="about" style="text-align: center;">
    <h1>About</h1>

    <p>
    CommNews is a project that we started after exploring the Department of Commerce website and finding some spreadsheets that showed interesting trends in gross output across various industries.
    </p>

    <p>
    After graduating from <%= link_to 'The Flatiron School', 'www.flatironschool.com' %> in December 2014, we were curious about what we could build with open data. So, we built CommNews to try to answer the question of what was going on in the world that may relate to the economic trends.
    </p>

    <p>
    The application uses Department of Commerce data to generate a line graph of gross output for an industry over time. That data is then matched with relevant news from the time period, so that researchers can get a better idea of the context surrounding specific inflection points in the economy.
    </p>

    <p>
    CommNews is for the economist who wants to easily discover what was going on in the world that influenced our country's economy. We hope it illustrates the value of open data – by tying data to context, we can have more informed conversations about our economy.
    </p>
    <hr>
    <span class="about-pic">
    <%= image_tag 'rose.jpg', :width => "50%", :height => "50%" %>
    <br>
    <%= link_to 'Rose Weixel', "http://people.flatironschool.com/profiles/rose-weixel/print", :target => "_blank" %>
    <p>Web Developer</p>
    </span>
    <span class="about-pic">
    <%= image_tag 'amanda.jpg', :width => "50%", :height => "50%" %>
    <br>
    <%= link_to "Amanda Chang", "http://people.flatironschool.com/profiles/amanda-chang/print", :target => "_blank" %>
    <p>Web Developer</p>
    </span>
</div>
