<div id="line-items">

  <h1><%= line_item.category.name %> - <%= line_item.year %></h1>

  <h1>Total: <%= line_item.total %></h1>

  <% @articles.each do |article| %>
  	<h3><%= article["headline"]["main"] %></h3>
  	<p><%= article["snippet"] %></p>
  <% end %>

</div>